<div id="<%= dom_id pet %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= pet.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= pet.description %>
  </p>
</div>
